/*COLORS:


dark purple: #3F3E67
light purple: #8D8BE7
blue: #4B47EB
dark blue/purple: #211F67
purple: #6E6DB4




*/


@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.otf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: Knockout;
    src: url(../fonts/Knockout.otf);
}

/*DOM elements*/
body{
  padding-top:70px; /*to prevent fixed menu from covering content*/
  font-family:'Georgia', 'serif';
  line-height:29px;
  font-size:16px;
}
body:hover{
  cursor:default;
}

h1, h2, h3, h4, h5{
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
}

h4{
  vertical-align: top;
  text-align:left;
}

p, li{
font-family:'Georgia', 'serif';
}
hr{
  margin-top:0;
}

/*main*/

/*.max-width{
  max-width:850px;
}*/

#site-title{
  font-size:50px;
  text-align:center;
}

.menu-bar{
  background-color:#4B47EB;
  color:white;
  height:100%;
  text-align: center;
}

/*people*/

#people{
  margin-left:10px;
}

.m-picwid, .t-picwid{
  height:120px;
  width:auto;
  vertical-align: top;
}

.m-name, .t-title{
  margin-top:5px;
}

.m-name{
  font-size:24px;
}

.question{
  font-weight:bold;
}
.m-questions{
  margin:0 60px 0 20px;
}
.t-drop-title{
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
}


/*issues*/

#issues{
  padding:0;
  border-radius:0;
}
#issue1, #issue2, #issue3, #issue4{
  height:70px;
  width:100vw;
  padding:20px;
  color:black;
  font-size:14pt;
  margin:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:.6;
}

#issue1{
  background-image:url('../assets/light-rail.jpg');
}

#issue2{
  background-image:url('../assets/obeycreek.jpg');
}

#issue3{
  background-image:url('../assets/amity-station.jpeg');
}

#issue4{
  background-image:url('../assets/ephesus-fordham.jpg');
}

/*ACCORDION MODS*/

#accordion1, #accordion2, #accordion3{
  margin:0 60px 0 20px;
}
.ui-accordion-content{
  padding:10px;
  margin-bottom:10px;
  /*height:inherit;*/
}
.ui-accordion-header{
  /*padding-left:15px;*/
  text-align:center;
}
.ui-accordion-header:hover, .ui-state-focus, .ui-state-active{
  background-color: #3F3E67;
  color:white!important;
}
.ui-corner-all{
  border-radius:0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  color:#3F3E67;
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
  font-size:11.5pt;
  padding:2px;
  font-weight:normal;
  border:1px solid #8D8BE7;
}
.ui-widget-content{
  background:none;
  font-size:10pt;
}

.accord-council > div{
  padding-top:20px;
  margin:3px;
}
@media (max-width:555px){
  .accord-council > div{
    max-width:80vw;
  }
}
@media (min-width:1300px){
  .accord-council > div{
    max-width:25vw;
  }

}

/*font awesome*/
i.fa.fa-thumbs-up{
    color: green;
}
i.fa.fa-thumbs-down{
    color:red;
}

/*data table*/
.dataTables_paginate, .dataTables_info, .dataTables_length, .dataTables_filter, tfoot{
  display:none;
}


/*twitter api*/
.twitter-box{
  background-color:#F6F6F6;
  /*border:1px solid #99badd;*/
  width:inherit;
  height:700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.twitter-title{
  text-align:left;
  color:black;
  text-decoration:none;
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
  font-size:20pt;
}
.twitter-title:hover{
  color:#211F67;
  text-decoration:underline;
}

.twit-tweet-div{
  word-wrap:break-word;
}
.twit-prof{
  float:left;
  margin-right:5px;
  vertical-align:center;
}
.twit-img{
  width:100%;
}
.twit-tweet{
  font-family:'Georgia', 'serif';
  font-size:10pt;
}
.screen-name{
  margin-bottom:5px;
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
}

/*instagram api*/
#insta-box{
  margin-bottom:30px;
  margin-left:3vw;
}
/*@media (max-width:700px){
  #insta-box{
  margin-bottom:30px;
}
}*/

.insta-img{
	margin:20px 30px 20px 0px;
	border:2px solid #99badd;
	border-radius:3px;
	width:200px;
}
@media (max-width:400px){
  .insta-img{
    margin-left:30%;
  }
}

#insta-follow{
  text-align:left;
  color:black;
  text-decoration:none;
  font-family:Oswald;
  font-size:12pt;
  display:inline-block;
}

#insta-follow:hover{
  color:#99badd;
  font-size:15pt;
  text-decoration:underline;
}

#hash-title{
  font-family:Amiri;
  font-weight:700;
  padding-right:50px;
  padding-left:15px;
  vertical-align:text-bottom;
}

/*map*/

#map-canvas{
  width:500px;
  height:50%;
}

@media (max-width:575px){
  #map-canvas{
    width:90vw;
    height:50%;
    margin:0 2vw 0 1vw;
  }
}

/*standard styles*/

.inline{
  display:inline;
}
.block{
  display:block;
}
.inline-block{
  display:inline-block;
}
/*.tab{
  margin-left:20px;
}*/
.zero-pad-left{
  padding-left:0px;
}
.margins-top{
  margin-top:10%;
}


/*media queries*/
@media (max-width:760px){
body{
  padding-top:40vw;
}
#people{
  margin-left:15px;
}
.menu-bar{
  padding:1px;
  border-top:1px solid white;
}
.ui-accordion-header, .ui-accordion-content{
  width:90vw;
  border-radius:0px;
}
}

@media (min-width:992px){
  .m-name, .m-party, .m-age, .t-title{
    margin-left:25px;
  }
}

@media (min-width:772px) and (max-width:991px){
  .t-title{
    margin-left:25px;
  }
}

@media (min-width:405px) and (max-width:814px){
  .m-picwid{
    height:150px;
  }
  .m-name, .m-party, .m-age{
    margin-left:45px;
  }
  .t-title{
    margin-left:40px;
  }
}


/*@media (min-width:500px) and (max-width:800px){

  .m-name, .m-party, .m-age{
    margin-left:30px;
  }
  .t-title{
    margin-left:50px;
  }
}*/

@media (min-width:815px) and (max-width:986px){
  /*.m-picwid{
    height:300px;
  }*/
  .m-name, .m-party, .m-age, .t-title{
    margin-left:25px;
  }
}

/*@media (min-width:575px) and (max-width:760px){
  .t-picwid{
    height:200px;
  }
  .t-title{
    margin-left:10px;
  }
}*/
@media (max-width:575px){
  .t-title{
    margin-left:25px;
  }
  .twitter-box, .m-questions #accordion1, #accordion3{
    margin:0;
  }
  .twitter-box{
    width:inherit;
    margin-bottom:20px;
  }
  .ui-accordion-header{
    width:inherit;
  }
}



/*embed responsively*/

.embed-container { position: relative; padding-bottom: 56.25%; height: 950px; overflow: hidden; width:90%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
