/*@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
    font-family: QuattrocentoSans-Italic;
    src: url(../fonts/QuattrocentoSans-Italic.ttf);
}
@font-face {
    font-family: QuattrocentoSans-BoldItalic;
    src: url(../fonts/QuattrocentoSans-BoldItalic.ttf);
}
@font-face {
    font-family: QuattrocentoSans-Bold;
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}*/

@import url(http://fonts.googleapis.com/css?family=Amiri:400italic,700italic,400,700);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

body{
  /*background-color:#86665E;*/
}
h1, h2, h3, h4, h5{
  font-family:Oswald;
}

iframe{
  border:0;
}

#site-title{
  text-align:left;
  font-family:IM Fell DW Pica;
  /*font-weight:400;*/
  font-size:40pt;
  letter-spacing:1pt;
  verical-align:bottom;

}

/*twitter api*/
#twitter-box{
  background-color:#99badd;
  border:1px solid #99badd;
  max-width:200px;
  height:950px;
  overflow:hidden;
}
@media (max-width:760px){
  #twitter-box{
    max-width:760px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:10px;
  }
  #twit-tweet{
    font-size:15pt;
  }

}
#twitter-title{
  text-align:left;
  color:black;
  text-decoration:none;
  font-family:Oswald;
  font-size:15pt;
}
#twitter-title:hover{
  color:#86665E;
  font-size:17pt;
  text-decoration:underline;
}

.twit-tweet-div{
  word-wrap:break-word;
}
.twit-prof{
  float:left;
  margin-right:5px;
  vertical-align:center;
}
.twit-img{
  width:150px;
}
.twit-tweet{
  font-family:Amiri;
  font-size:10pt;
}
.screen-name{
  margin-bottom:5px;
  font-family:Oswald;
}

/*instagram api*/
#insta-box{
  margin-bottom:30px;
}
@media (max-width:700px){
  #insta-box{
  margin-bottom:30px;
}
}


.insta-img{
	margin:20px 30px 20px 0px;
	border:2px solid #99badd;
	border-radius:3px;
	width:200px;
}
@media (max-width:400px){
  .insta-img{
    margin-left:30%;
  }
}


#insta-follow{
  text-align:left;
  color:black;
  text-decoration:none;
  font-family:Oswald;
  font-size:12pt;
  display:inline-block;
}

#insta-follow:hover{
  color:#99badd;
  font-size:15pt;
  text-decoration:underline;
}


body{
  font-family:Amiri;
}

h1{
  font-family:Amiri;
  font-weight:700;
  text-align:center;
  vertical-align:text-bottom;
}
#hash-title{
  font-family:Amiri;
  font-weight:700;
  padding-right:50px;
  padding-left:15px;
  vertical-align:text-bottom;
}

.inline{
  display:inline;
}
.block{
  display:block;
}
.inline-block{
  display:inline-block;
}

.margins-top{
  margin-top:10%;
}


/*embed responsively*/

.embed-container { position: relative; padding-bottom: 56.25%; height: 950px; overflow: hidden; width:90%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
